# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

- List popular languages for Data Science
- Commonly used libraries in Data Science
- Data Science Tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
1. SQL(Structured Query Language)
1. R
1. Julia
1. Go
1. Java
1. Scala
1. Swift

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
1. TensorFlow
1. Keras
1. Matplotlib
1. PyTorch
1. Seaborn
1. NumPy

|Data Science Tools|
|:---:|
|Jupyter Notebooks|
|R Studio|
|Zeppline Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Piers Margetts